/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--dark-low); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--featured); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--featured-dark); 
  }