@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "variables";
@import "scrollBar";

* {
    font-family: "Poppins", sans-serif;
}

.card {
    border-radius: 20px !important;
}

.btn-primary,
.btn-secondary {
    border: none !important;
    border-radius: 15px !important;
}

.btn-primary {
    background-color: var(--featured-dark) !important;

    &:hover {
        background-color: var(--featured) !important;
    }
}

.btn-outline-primary {
    color: var(--featured) !important;
    border-color: var(--featured) !important;
    transition: .5s ease-in-out !important;

    &:hover {
        background: var(--featured-dark) !important;
        color: var(--light) !important;
    }
}